{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }



</style>
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="">
                <div id='calendar'></div>
            </div>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
{% else %}
<h1>Hello Nikka...!!!</h1>
{% endif %}

{% endblock %}

{% block js %}
<script>

  $(document).ready(function() {
    var event_data = [];
    {% for object in request.user.user.all %}
        {% if object.attend is True %}
            event_data.push({
                start: moment('{{ object.date|date:'Y-m-d' }}').format('YYYY-MM-DD'),
                rendering: 'background',
                overlap: false,
                color: '#8d99ae',
            })
        {% endif %}
    {% endfor %}

    $('#calendar').fullCalendar({
      header: {
        left: 'prev, today',
        center: 'title',
        right: 'month, next'
      },
      defaultDate: moment().format('YYYY-MM-DD'),
      navLinks: true,
      selectable: true,
      selectHelper: true,
      select: function(start, end) {
        var title = prompt('Event Title:');
        var eventData;
        if (title) {
          eventData = {
            title: title,
            start: start,
            end: end
          };
          $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
        }
        $('#calendar').fullCalendar('unselect');
      },
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: event_data,
    });

  });
</script>
{% endblock %}