{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opencv JS</title>
    <script async src="/static/js/opencv.js" onload="openCvReady();"></script>

</head>
<body>
<!--    <video id="cam_input" height="480" width="640"></video>-->
    <img src="/static/images/nikunj.jpg" id="canvasInput" height="280" width="240">
    <canvas id="canvas_output"></canvas>
<script type="text/JavaScript">
function openCvReady() {
console.info("Ready");
try{
    let src = cv.imread('canvasInput');
}
catch(err){
    console.info(err);
}

    let gray = new cv.Mat();
    cv.cvtColor(src, gray, cv.COLOR_RGBA2GRAY, 0);
    let faces = new cv.RectVector();
    let eyes = new cv.RectVector();
    let faceCascade = new cv.CascadeClassifier();
    // load pre-trained classifiers
    faceCascade.load('/static/xmls/haarcascade_frontalface_default.xml');
    // detect faces
    let msize = new cv.Size(0, 0);

    // try to change scaleFactor  and minNeighbors values
    faceCascade.detectMultiScale(gray, faces,1.05,0);
    for (let i = 0; i < faces.size(); ++i) {
        let roiGray = gray.roi(faces.get(i));
        let roiSrc = src.roi(faces.get(i));
        let point1 = new cv.Point(faces.get(i).x, faces.get(i).y);
        let point2 = new cv.Point(faces.get(i).x + faces.get(i).width,
                                  faces.get(i).y + faces.get(i).height);
        cv.rectangle(src, point1, point2, [255, 0, 0, 255]);
        roiGray.delete(); roiSrc.delete();
    }
    cv.imshow('canvas_output', src);
    src.delete(); gray.delete(); faceCascade.delete();
    faces.delete(); eyes.delete();
}
</script>
</body>
</html>